.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  header {
    display: flex;
    gap: var(--s-5);
    margin-bottom: var(--s-40);
  }
  .card {
    width: 476px;
    padding: var(--s-40);
    h2 {
      height: 48px;
    }
    p {
      color: var(--c-grey);
    }
    p.sub-msg {
      margin-bottom: var(--s-40);
    }
    .btn {
      margin-top: 20px;
      width: 100%;
    }
    p.register-msg {
      align-self: center;
      margin-top: 24px;

      a {
        color: var(--c-purple);
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
