@font-face {
  font-family: "InstrumentSans"; /* You can choose a name for your font */
  src: url("./assets/fonts/static/InstrumentSans-Regular.ttf") format("ttf"),
    url("./assets/fonts/static/InstrumentSans-Regular.ttf") format("ttf");
  /* Add additional formats if needed, such as .ttf or .otf */
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: InstrumentSans, system-ui, Helvetica, Arial, sans-serif;
  display: flex;
  background: var(--c-grey-light);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
