:root {
  --c-purple: #633cff;
  --c-purple-hover: #beadff;
  --c-purple-light: #efebff;
  --c-grey: #737373;
  --c-borders: #d9d9d9;
  --c-grey-light: #f9f9f9;
  --c-red: #ff3939;
  --c-black: #333;
  --c-white: #fff;
}
