:root {
  --s-5: 5px;
  --s-10: 10px;
  --s-12: 12px;
  --s-15: 15px;
  --s-20: 20px;
  --s-25: 25px;
  --s-30: 30px;
  --s-35: 35px;
  --s-40: 40px;
  --s-45: 45px;
  --s-50: 50px;
  --s-100: 100px;
}
